<div ng-cloak ng-show="pages">
  <md-content class="md-padding" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="90" layout="column" ng-cloak>
      <md-card md-whiteframe="1" style="margin-bottom: 50px;">
        <div layout-align="center center">
        <img text-align="center" ng-src="{{ pages[0].url }}"></div>
        <md-card-title>
          <md-card-title-text>
            <div layout="row">
              <span class="md-title">{{ chapter.title }}</span>
              <div flex=""></div>
              <span>{{ author }}</span>
            </div>
            <div layout="row">
              <span class="md-subhead">{{ chapter.created | date:'MMMM d, yyyy'}}</span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{ pages[0].caption }}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="heart"><md-tooltip>Add Story To Favorites</md-tooltip></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="share-variant"><md-tooltip>Share This Story</md-tooltip></md-icon>
          </md-button>
          <report></report>
        </md-card-actions>
      </md-card>

      <md-card md-whiteframe="1" style="margin-bottom: 50px;" ng-repeat="item in pages track by $index" ng-hide="$first">
        <div layout-align="center center">
        <img text-align="center" ng-src="{{ pages[$index].url }}"></div>
        <md-card-content>
          <p>{{ pages[$index].caption }}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <report></report>
        </md-card-actions>
      </md-card>

      <div layout="row">
        <md-button class="md-primary" ng-click="scroll()">Back To Top<span></md-button>
        <div flex=""></div>
        <md-button class="md-icon-button" aria-label="Comment"><span><md-icon md-svg-icon="comment"></md-icon></span></md-button>
      </div>
    </div>

  </md-content>
</div>
