<div ng-cloak>
  <md-content class="md-padding" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card md-whiteframe="1" style="margin-bottom: 50px;">
        <div layout-align="center center">
        <img text-align="center" src="http://placehold.it/700x400"></div>
        <md-card-title>
          <md-card-title-text>
            <div layout="row">
              <span class="md-title">Chapter 1: Drinks Of The Seas</span>
              <div flex=""></div>
              <span>TheBarnacle5456</span>
            </div>
            <div layout="row">
              <span class="md-subhead">October 6, 2016</span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue turpis velit, quis cursus elit ultrices a. Morbi volutpat posuere orci, vitae commodo lectus euismod mollis. Aliquam non sodales ante, id molestie nisi. Cras convallis, arcu eget venenatis elementum, risus nisl egestas justo, eget imperdiet sem erat non ex.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="heart"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="share-variant"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Report">
            <md-icon md-svg-icon="alert" style="color: red;"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>

      <md-card md-whiteframe="1" style="margin-bottom: 50px;">
        <div layout-align="center center">
        <img text-align="center" src="http://placehold.it/700x400"></div>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue turpis velit, quis cursus elit ultrices a. Morbi volutpat posuere orci, vitae commodo lectus euismod mollis. Aliquam non sodales ante, id molestie nisi. Cras convallis, arcu eget venenatis elementum, risus nisl egestas justo, eget imperdiet sem erat non ex.
          </p>
        </md-card-content>
      </md-card>

      <md-card md-whiteframe="1" style="margin-bottom: 50px;">
        <div layout-align="center center">
        <img text-align="center" src="http://placehold.it/700x400"></div>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue turpis velit, quis cursus elit ultrices a. Morbi volutpat posuere orci, vitae commodo lectus euismod mollis. Aliquam non sodales ante, id molestie nisi. Cras convallis, arcu eget venenatis elementum, risus nisl egestas justo, eget imperdiet sem erat non ex.
          </p>
        </md-card-content>
      </md-card>

      <md-card md-whiteframe="1" style="margin-bottom: 50px;">
        <div layout-align="center center">
        <img text-align="center" src="http://placehold.it/700x400"></div>
        <md-card-content>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur congue turpis velit, quis cursus elit ultrices a. Morbi volutpat posuere orci, vitae commodo lectus euismod mollis. Aliquam non sodales ante, id molestie nisi. Cras convallis, arcu eget venenatis elementum, risus nisl egestas justo, eget imperdiet sem erat non ex.
          </p>
        </md-card-content>
      </md-card>

      <div layout="row">
        <md-button class="md-primary" ng-click="scroll()">Back To Top<span></md-button>
        <div flex=""></div>
        <md-button class="md-icon-button" aria-label="Comment"><span><md-icon md-svg-icon="comment"></md-icon></span></md-button>
      </div>
    </div>

  </md-content>
</div>
