<div ng-cloak>
  <md-content class="md-padding" layout="row" layout-align="center center">
    <div name="form" flex-xs flex-gt-xs="70" layout="column">
      <form name="commentForm" ng-cloak ng-submit="submitForm(commentForm.$valid)" novalidate>
        <div layout-align="center center">
          <md-content style="overflow-x: hidden; overflow-y: auto; max-width: 500px;">
            <md-input-container class="md-block">
              <label>Comment:</label>
              <textarea name="comment" ng-model="comment.text" type="text" placeholder="What feedback would you like to share with the author?" md-maxlength="250"></textarea>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Rating:</label>
              </br>
              <md-slider flex class="md-primary" md-discrete ng-model="comment.rating" step="1" min="1" max="5" aria-label="rating"></md-slider>
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary" type="submit" ng-disabled="commentForm.$invalid">Submit</md-button>
            <div>
          </md-content>
        </div>
      </form>
    </div>
    <div name="preview" flex-xs flex-gt-xs="70" layout="column" style="word-wrap: break-word;">
      <h4>Preview Your Comment:</h4>
      On {{date | date: 'MMM d, y h:mm:ss a'}}
      </br>
      {{ user.username }} said <blockquote>{{ comment.text }}</blockquote>
      <div layout="row">
        <div ng-hide="comment.rating">
          <em>Please use the slider to rate this chapter</em>
        </div>
        <div ng-if="comment.rating" ng-repeat="i in getRating(comment.rating) track by $index">
          <md-icon md-svg-icon="star" style="color: red;"></md-icon>
        </div>
    </div>
    </div>
  </md-content>
</div>
