<div ng-cloak>
  {{ story }}
  <md-content class="md-padding" layout="row" layout-align="center center">
    <div flex-xs flex-gt-xs="70" layout="column">
      <md-card md-whiteframe="2">
        <div layout-align="center center">
        <img text-align="center" src="{{ story.cover_photo }}"></div>
        <md-card-title>
          <md-card-title-text>
            <div layout="row">
              <span class="md-title">{{ story.title }}</span>
              <div flex=""></div>
              <span>{{ story.username }}</span>
            </div>
            <div layout="row">
              <span class="md-subhead">{{ story.created | date:'MMMM d, yyyy'}}</span>
            </div>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{ story.description }}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="heart"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="share-variant"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Report">
            <md-icon md-svg-icon="alert" style="color: red;"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
