<div ng-cloak style="background-color: green;">
  <md-content class="md-padding" layout="row" style="background-color: red;" layout-align="center center">
    <div flex-xs flex-gt-xs="50" layout="column" style="background-color: purple;">
      <md-card>
        <img text-align="center" ng-src="http://placehold.it/800x600">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Icon action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="img/icons/favorite.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <md-icon md-svg-icon="img/icons/share-arrow.svg"></md-icon>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </md-content>
</div>
