<div ng-cloak ng-show="story">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="{{ story.title }}">
        <md-content class="md-padding">
          <cover-page></cover-page>
        </md-content>
      </md-tab>
      <md-tab ng-repeat="a in range(story.numOfChapters) track by $index" label="{{ $index + 1 }}" ng-click="openChapter($index)">
        <md-content class="md-padding">
          <chapter-page></chapter-page>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
