<div class="chapter-desktop-view">
  <div layout="column" class="pagesContent">
    <!-- <empty-chapter ng-show="!files.length"></empty-chapter> -->
    <!-- <new-chapter></new-chapter> -->
    <div ng-include="'views/createStories/newStoryPromptView.html'" stories="stories"></div>
    <div ng-if="files" dragula='"bag-one"' dragula-scope="$parent" dragula-model="files">
      <div layout="column" ng-repeat="file in files">
        <div layout="column" flex="100" class="desktopRepeat">
          <div layout="row">
            Page #{{$index + 1}}
            <div flex=""></div>
            <a class="pointer" ng-click="removeFile($index)"><md-icon md-svg-icon="delete" style="color: red"></md-icon></a>
          </div>
          <div layout="row">
            <figure layout="column" flex="45">
              <img ngf-thumbnail="file" ngf-size="{width: 200, height: 200, quality: 1}">
              <figcaption class="break-wrap" ng-if="file.path || file.name">{{file.path || file.name}}</figcaption>
            </figure>
            <textarea flex="55" layout="column" class="caption" ng-model="file.caption" placeholder="Write a caption to accompany this screenshot">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
