<div layout-fill class="manage-stories-view">
  <md-toolbar class="chapter-desktop-view" ng-show="mediaQuery('gt-sm')" class="md-menu-toolbar desktop-toolbar">
    <div layout="row">
      <div class="md-toolbar-tools">
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              MY STORIES
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button stories="stories" new-story-prompt>
                  <md-icon md-svg-icon="file-document"></md-icon>
                  Create New Story
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>

              <md-menu-item ng-repeat="story in stories track by $index">
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">{{story.title}}</md-button>
                  <md-menu-content>
                    <md-menu-item><md-button ng-href="/manageChapters">New Chapter</md-button></md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item><md-button ng-href="">Chapter 1: Drinks Of The Seas</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="angular.noop()" ngf-select="uploadFiles($files)" ng-model="files" multiple accept="image/*" ngf-keep="true">
              ADD SCREENSHOTS
            </button>
            <md-menu-content id="hide-md-menu-dropdown">
              <md-menu-item>
                <md-button>Ignore me!</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              SAVE
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button><md-icon md-svg-icon="content-save"></md-icon>Save Draft</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button publish><md-icon md-svg-icon="publish"></md-icon>Save & Publish</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              MANAGE
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button><md-icon md-svg-icon="message-text"></md-icon>Review Comments</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button><md-icon md-svg-icon="view-list"></md-icon>View Stats</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>

  <md-toolbar ng-show="!mediaQuery('gt-sm')" class="md-menu-toolbar mobile-toolbar">
    <div layout="row" layout-align="center center">
      <md-menu-bar>
        <md-menu>
          <md-button ng-click="$mdOpenMenu()">
            MANAGE STORIES<md-icon md-svg-icon="menu-down"></md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button new-story-prompt><md-icon md-svg-icon="file-document"></md-icon>Create New Story</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button><md-icon md-svg-icon="plus-box"></md-icon>Add Chapter</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ngf-select="uploadFiles($files)" ng-model="files" multiple accept="image/*" ngf-keep="true"><md-icon md-svg-icon="image"></md-icon>Add Screenshots</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button><md-icon md-svg-icon="message-text"></md-icon>Review Comments</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button><md-icon md-svg-icon="view-list"></md-icon>View Stats</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button><md-icon md-svg-icon="content-save"></md-icon>Save Draft</md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button publish><md-icon md-svg-icon="publish"></md-icon>Save & Publish</md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button style="text-align: center;">WORK ON ANOTHER STORY</md-button>
            </md-menu-item>
            <md-menu-item ng-repeat="story in stories track by $index">
              <md-menu>
                <md-button ng-click="$mdOpenMenu()">{{story.title}}</md-button>
                <md-menu-content>
                  <md-menu-item><md-button ng-href="">New Chapter</md-button></md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item><md-button ng-href="">Chapter 1: Drinks Of The Seas</md-button></md-menu-item>
                </md-menu-content>
              </md-menu>
            </md-menu-item>
            <md-menu-item>
              <md-button href="">
                Opponent Of A Cat
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button href="">
                Cooking With My Cousin
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-menu-bar>
    </div>
  </md-toolbar>

  <manage-stories-content ng-if="currentRoute === '/manageStories'" stories="stories" ng-cloak></manage-stories-content>
  <manage-chapters-content ng-if="currentRoute === '/manageChapters'" stories="stories" files="files" ng-cloak></manage-chapters-content>
</div>
