<div ng-show="stories.length === 0">
  <div ng-include="'views/createStories/newStoryComponents/body.component.html'"></div>
</div>

<md-dialog aria-label="New Story" style="width: 500px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div flex="100" ng-include="'views/createStories/newStoryComponents/header.component.html'"></div>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div ng-include="'views/createStories/newStoryComponents/body.component.html'"></div>
  </md-dialog-content>
</md-dialog>
