<div ng-show="stories.stories.length === 0">
  <div style="text-align: center;">
    <h4>Create A Story</h4>
    <p>Oh noes! You haven't created any stories yet! Let's make one now:</p>
  </div>
  <div ng-include="'views/createStories/newStoryComponents/body.component.html'"></div>
</div>

<div ng-show="stories.length" layout="column">
  <div layout="row" layout-wrap style="text-align: center;">
    <div flex="35">Title</div>
    <div flex="40">Description</div>
    <div flex="10">Age Restricted?</div>
    <div flex="5"></div>
  </div>
  <div layout="row" ng-repeat="story in stories" style="padding-bottom: 10px;">
    <div ng-show="editing"><delete-story story="story"></delete-story></div>
    <div ng-show="!editing" flex="35">{{story.title}}</div>
    <div ng-show="!editing" flex="40">{{story.description}}</div>
    <div ng-show="story.age_restricted && !editing" flex="10" style="text-align: center;">Yes</div>
    <div ng-show="!story.age_restricted && !editing" flex="10" style="text-align: center;">No</div>

    <div ng-show="editing" flex="75">
      <form name="editStory" layout="row" ng-submit="submitForm(editStory)">
          <md-input-container flex-gt-sm>
            <input name="Title" flex="35" ng-model="story.title" aria-label="Story Title" ng-maxlength="100"/>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <textarea name="Description" flex="40" ng-model="story.description" aria-label="Story Description" ng-maxlength="300"></textarea>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <md-checkbox name="Age_Restricted" flex="10" ng-model="story.age_restricted" ng-true-value="1" ng-false-value="0" aria-label="Checkbox"></md-checkbox>
          </md-input-container>
          <md-button class="md-primary" edit-story type="submit" ng-disabled="editStory.$invalid">Save Changes</md-button>
      </form>
    </div>

    <div flex="15" layout="row" style="text-align: center;">
      <md-button class="md-icon-button md-accent" ng-click="editing = !editing" aria-label="Edit Story"><md-icon md-svg-icon="pencil-box-outline"><md-tooltip>Edit This Story</md-tooltip></md-icon></md-button>
      <get-chapters story="story"></get-chapters>
    </div>

    <div flex=""></div>
  </div>
</div>

<md-dialog aria-label="New Story" style="width: 500px;">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <div flex="100" ng-include="'views/createStories/newStoryComponents/header.component.html'"></div>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div ng-include="'views/createStories/newStoryComponents/body.component.html'"></div>
  </md-dialog-content>
</md-dialog>
