<div class="row">
  <div class="col-md-12 page-title">
    Page #{{index + 1}}
    <a class="pointer" ng-click="removeFile($index)"><span class="float-right glyphicon glyphicon-trash"></span></a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 break-word">
    <figure>
      <img ngf-src="file" ngf-resize="{width: 200, height: 200, quality: 1}">
      <figcaption class="break-wrap">{{file.name}} {{page.title}}</figcaption>
    </figure>
  </div>
  <div class="col-md-8 col-md-offset-1">
    <textarea class="caption" ng-model="file.caption">
      {{page.desc || ""}}
    </textarea>
  </div>
</div>
