<md-dialog aria-label="UserContentAgreement">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h4>User Content Submission Agreement</h4>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content style="padding: 5px;">
    <div layout="column">
      <p>Updated: December 7, 2016</p>

      <p>When you submit User Content, you are signifying your agreement with and acceptance of all terms and conditions of this Submission Agreement as well as the terms and conditions contained in the <a href="">Terms of Use</a> that govern your legal and contractual relationship with SimsReader.</p>

      <p>We have the right to change the terms and conditions of this Submission Agreement at any time as described in our <a href="">Terms of Use</a>. If you do not agree with all the terms and conditions of this Submission Agreement at any time, including, without limitation, those times when we make changes, do not use, do not attempt to use, and immediately discontinue your use of, the User Content Submission Features, because if you do any of those things you are agreeing to be bound by all the terms and conditions of this Submission Agreement, including, without limitation, any changes we have made.</p>

      <ol>
        <li><strong>You agree not to submit inappropriate content</strong>. Inappropriate content includes any content that:</li>
          <ul>
            <li>infringes upon or violates the copyrights, trademarks, or other intellectual property rights of any person</li>
            <li>is ilbelous or defamatory</li>
            <li>violates a person's right to privacy</li>
            <li>violates any local, state, national, or international law</li>
            <li>contains or advocates illegal acts</li>
            <li>degrades others on the basis of gender, race, class, ethnicity, national origin, religion, sexual orientation, disability, or other classification</li>
            <li>is predatory, hateful, or intended to intimidate or harass, or contains derogatory name-calling</li>
            <li>contains advertising</li>
            <li>contains a solicitation of any kind</li>
            <li>is in poor tase or is otherwise objectionable</li>
          </ul>
        <li><strong>You agree to flag at the time of submission any content that may be classified as "Adult Content"</strong>. "Adult Content" includes any content that:</li>
          <ul>
            <li>is obscene, pornographic, sexually explicit, or vulgar</li>
            <li>contains or advocates violent acts</li>
          </ul>
        <li><strong>You agree that you are fully responsible for the content that you submit</strong>. You will promptly remove any content that you have submitted should you discover that it violates these rules or that it is otherwise inappropriate.</li>
        <li><strong>You understand and agree that we are not responsible for any User Content</strong>. We have the right, but not the obligation, to monitor submissions, and we may remove content that we deem inappropriate for any reason whatsoever without consent. We reserve the right, in our sole discretion, to remove a user's privilege to submit content on our site. We may reject or remove any content at any time, with or without notice to you.</li>
        <li><strong>You certify that you are at least 13 years of age</strong>. If you are under the age  of 13, please do not submit any content to us. If  you are under the age of 18 but you are at least 13 years of age, you may submit content only with the permission of, and under the supervision of, a parent or legal guardian. If you are a parent or legal guardian agreeing to these rules for the benefit of an individuaal between the ages of 13 and 18, please be advised that you are fully responsible for his or her submissions and any legal liability that he or she may incur.</li>
        <li><strong>You have read and agree to abide by our <a href="">Terms of Use</a></strong>.
      </ol>

    </div>
  </md-dialog-content>
</md-dialog>
