<div class="container" ng-controller="registerController">
  <form name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>
    <h2 align="center">Create Your Account</h2>
    <div class="form-group">
      <label>Username</label>
      <input
        type="text"
        name="username"
        class="form-control"
        ng-model="username"
        placeholder="Username"
        required />
      <p ng-show="registerForm.username.$invalid && registerForm.username.$pristine" class="help-block">This field is required.</p>
    </div>
    <div class="form-group">
      <label>Email Address</label>
      <input
        type="email"
        name="emailAddress"
        class="form-control"
        ng-model="emailAddress"
        placeholder="Email Address"
        required />
      <p ng-show="registerForm.emailAddress.$invalid && !registerForm.emailAddress.$pristine" class="help-block">A valid email address is required.</p>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input
        type="password"
        name="password1"
        class="form-control"
        ng-minlength="8"
        ng-model="password1"
        placeholder="Password"
        required />
      <p ng-show="registerForm.password1.$error.minlength" class="help-block">Minimum 8 characters required.</p>
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input
        type="password"
        name="password2"
        class="form-control"
        ng-model="password2"
        placeholder="Confirm Password"
        required />
      <p ng-show="!isMatch()" class="help-block">Passwords do not match!</p>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid && isMatch()">Submit</button>
  </form>
</div>
