<md-toolbar>
  <div class="md-toolbar-tools">
    <h4>Forgot Password?</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()" aria-label="Cancel">
      <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content>
  <form name="forgotPasswordForm" layout="column" ng-cloak ng-submit="submitForm(forgotPasswordForm.$valid)">
    <md-content layout-padding>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input required name="email" ng-model="user.email" />
      </md-input-container>
    </md-content>
    <md-button class="md-raised md-primary" type="submit" ng-disabled="forgotPasswordForm.$invalid">Submit</md-button>
  </form>
</md-dialog-content>




<!-- <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div ng-show="showSuccessMsg"><p>We have received your request to reset your password. Check your email for a temporary password.</p></div>
    <div class="col-md-4" ng-show="!showSuccessMsg">
      <form name="forgotPasswordForm" ng-submit="submitForm(forgotPasswordForm.$valid)" novalidate>
        <h4 align="center">Forgot your password?</h4>
        <div class="form-group">
          <label>Enter your email address</label>
          <input
            type="email"
            name="email"
            class="form-control"
            ng-model="email"
            placeholder="Email Address"
            required />
          <p ng-show="forgotPasswordForm.emailAddress.$invalid && forgotPasswordForm.emailAddress.$pristine" class="help-block">Type in the email address you used when you registered with us.</p>
          <p ng-show="forgotPasswordForm.emailAddress.$invalid && !forgotPasswordForm.emailAddress.$pristine" class="help-block">A valid email address is required.</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="forgotPasswordForm.$invalid || isLoggedIn()">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div> -->
