<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div>
        <h4 align="left">Forgot your password?</h4>
        <ol type="1">
          <li>Fill in your email address below.</li>
          <li>Check your inbox for an email containing a temporary password.</li>
          <li>Use the temporary password to login.</li>
          <li>Update your password.</li>
        </ol>
      </div>
      <form name="registerForm" ng-submit="submitForm(registerForm.$valid)" novalidate>
        <br>
        <br>
        <div class="form-group">
          <label>Enter your email address</label>
          <input
            type="email"
            name="emailAddress"
            class="form-control"
            ng-model="emailAddress"
            placeholder="Email Address"
            required />
          <p ng-show="registerForm.emailAddress.$invalid && registerForm.emailAddress.$pristine" class="help-block">Type in the email address you used when you registered with us.</p>
          <p ng-show="registerForm.emailAddress.$invalid && !registerForm.emailAddress.$pristine" class="help-block">A valid email address is required.</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="registerForm.$invalid">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
