<md-toolbar>
  <div class="md-toolbar-tools">
    <h4>Login</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="cancel()">
      <md-icon md-svg-icon="close-box" aria-label="Close dialog"></md-icon>
    </md-button>
  </div>
</md-toolbar>

<md-dialog-content>
  <form name="loginForm" layout="column" ng-cloak ng-submit="submitForm(loginForm.$valid)">
    <md-content layout-padding>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Email</label>
        <input required name="email" ng-model="user.email" />
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Password</label>
        <input required name="password" ng-model="user.password" type="password" minlength="8"/>
      </md-input-container>
    </md-content>
    <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid">Login</md-button>
    <md-button ng-click="$parent.showForgotPassword = true;">Forgot Password</md-button>
    <md-button href="/register" ng-click="cancel()">New? Sign Up Now</md-button>
  </form>
</md-dialog-content>
