<div ng-show="showSuccessMsg"><p>Registration successful. You will receive an email confirming your account. Please check your inbox.</p></div>
<div ng-show="!showSuccessMsg">
<div ng-cloak flex="90" flex-offset="5">
  <h4 align="center">Create Your Account</h4>
  <form name="registerForm" ng-cloak ng-submit="submitForm(registerForm.$valid)" novalidate>
    <md-content style="background-color: #fff;">
      <md-input-container>
        <label>Username</label>
        <input name="username" size="45" ng-model="user.username" type="text" placeholder="What should we call you?" ng-minlength="4" ng-maxlength="16" required />
        <div ng-messages="registerForm.username.$error">
          <p ng-show="registerForm.username.$error.minlength">Username must contain at least 4 characters.</p>
          <p ng-show="registerForm.username.$error.maxlength">Username cannot contain more than 16 characters.</p>
        </div>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Email Address</label>
        <input name="emailAddress" size="45" ng-model="user.emailAddress" type="email" placeholder="Where should we send our communications?" required />
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Password</label>
        <input name="password" size="45" ng-model="user.password" type="password" placeholder="Choose a password at least 8 characters long" ng-minlength="8" required />
        <div ng-messages="registerForm.password.$error">
          <p ng-show="registerForm.password.$error.minlength">Password must contain at least 8 characters.</p>
        </div>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Password Confirmation</label>
        <input name="passwordMatch" size="45" ng-model="user.passwordMatch" type="password" placeholder="Enter your password again" ng-minlength="8" required />
        <div ng-messages="registerForm.passwordMatch.$error">
          <p ng-show="registerForm.passwordMatch.$touched && !isMatch()">Passwords must match.</p>
        </div>
      </md-input-container>
      <br/>
      <div layout="column" flex="50">
        <div layout="row" layout-align="center center">
          <md-button class="md-raised md-primary" type="submit" ng-disabled="registerForm.$invalid">Submit</md-button>
        </div>
        <div layout="row">
          <p>By signing up, you verify that you are at least 13 years of age and accept the <a href="/termsOfUse">Terms of Use</a> and <a href="/privacyPolicy">Privacy Policy</a>.</p>
        </div>
      </div>
    </md-content>
  </form>
</div>
