<div flex ng-cloak>
  <h4 align="center">Reset Your Password</h4>
  <form name="resetPasswordForm" ng-cloak ng-submit="submitForm(resetPasswordForm.$valid)" novalidate>
    <md-content>
      <md-input-container>
        <label>Email Address</label>
        <input name="emailAddress" size="45" ng-model="user.emailAddress" type="email" placeholder="Enter the email address associated with your account" required />
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Temporary Password</label>
        <input name="tempPassword" size="45" ng-model="user.tempPassword" type="password" placeholder="Enter the temporary password that we emailed to you" ng-minlength="8" required />
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Password</label>
        <input name="password" size="45" ng-model="user.password" type="password" placeholder="Choose a new password at least 8 characters long" ng-minlength="8" required />
        <div ng-messages="resetPasswordForm.password.$error">
          <p ng-show="resetPasswordForm.password.$error.minlength">Password must contain at least 8 characters.</p>
        </div>
      </md-input-container>
      <br/>
      <md-input-container>
        <label>Password Confirmation</label>
        <input name="passwordMatch" size="45" ng-model="user.passwordMatch" type="password" placeholder="Enter the password again" ng-minlength="8" required />
        <div ng-messages="resetPasswordForm.passwordMatch.$error">
          <p ng-show="resetPasswordForm.passwordMatch.$touched && !isMatch()">Passwords must match.</p>
        </div>
      </md-input-container>
      <br/>
      <div layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" type="submit" ng-disabled="resetPasswordForm.$invalid">Submit</md-button>
      <div>
    </md-content>
  </form>
</div>

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div ng-show="showSuccessMsg"><p>Password successfully changed. Please login.</p></div>
    <div class="col-md-4" ng-show="!showSuccessMsg">
      <form class="form" name="resetPasswordForm" role="form" accept-charset="UTF-8" ng-submit="submitForm(resetPasswordForm.$valid)" novalidate>
        <h4 align="center">Reset Your Password</h4>
        <div class="form-group">
          <label>Email</label>
          <input
            type="email"
            name="email"
            class="form-control"
            id="inputEmail"
            ng-model="email"
            placeholder="Email address"
            required>
          <p ng-show="resetPasswordForm.email.$invalid && !resetPasswordForm.email.$pristine" class="help-block">A valid email address is required.</p>
        </div>
        <div class="form-group">
          <label>Temporary Password</label>
          <input
            type="password"
            name="tempPassword"
            class="form-control"
            id="inputTempPassword"
            ng-minlength="8"
            ng-model="tempPassword"
            placeholder="Temporary Password"
            required>
          <p ng-show="resetPasswordForm.tempPassword.$invalid && resetPasswordForm.tempPassword.$pristine" class="help-block">Enter the temporary password that was emailed to you.</p>
        </div>
        <div class="form-group">
          <label>Enter New Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            ng-minlength="8"
            ng-model="password"
            placeholder="Password"
            required />
          <p ng-show="resetPasswordForm.password.$error.minlength" class="help-block">Minimum 8 characters required.</p>
        </div>
        <div class="form-group">
          <label>Confirm New Password</label>
          <input
            type="password"
            name="passwordMatch"
            class="form-control"
            ng-model="passwordMatch"
            placeholder="Confirm Password"
            required />
          <p ng-show="(passwordMatch.$invalid || !isMatch()) && (passwordMatch.length > 7)" class="help-block">Passwords do not match!</p>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="resetPasswordForm.$invalid || !isMatch() || isLoggedIn()">Submit</button>
      </form>
    </div>
    <div class="col-md-4"></div>
  </div>
</div> -->
