<!DOCTYPE html>
<html ng-app="simsReader" ng-controller="mainController">
  <head>
    <meta charset="utf-8">
    <title>SimsReader.com</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/templates/templates.js"></script>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/angular-ui-notification.css"/>

    <base href="/">
  </head>

  <header>
    <div ng-show="mediaQuery('gt-sm')">
      <md-toolbar md-whiteframe="1">
        <div class="md-toolbar-tools">
          <md-button href="/">
            <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
          </md-button>
          <md-button href="/allStories">All Stories</md-button>
          <md-button href="/manageStories">Manage Stories</md-button>
          <md-button href="/manageChapters">Manage Chapters</md-button>
          <span flex></span>
          <md-button ng-if="userService.isloggedin()">Hello, {{userService.getUser().username}}</md-button>
          <md-button href="/register" ng-if="!userService.isloggedin()">Register</md-button>
          <md-button login template="loginView" ng-if="!userService.isloggedin()">Login</md-button>
          <logout ng-if="userService.isloggedin()"></logout>
        </div>
      </md-toolbar>
    </div>

    <div ng-show="!mediaQuery('gt-sm')">
      <md-toolbar md-whiteframe="1">
        <div layout="row" class="md-menu-toolbar">
          <md-button href="/">
            <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
          </md-button>
          <div flex=""></div>
          <md-menu md-position-mode="target-right target">
            <md-button>
              <md-icon md-svg-icon="menu" ng-click="$mdOpenMenu()" aria-label="Menu"></md-icon>
            </md-button>
            <md-menu-content width="2">
              <md-menu-item ng-if="!userService.isloggedin()"><md-button ng-href="/register" class="md-primary">REGISTER</md-button></md-menu-item>
              <md-menu-item login template="loginView" ctrl="app.forgotPasswordController" ng-if="!userService.isloggedin()"><md-button class="md-primary">LOGIN</md-button></md-menu-item>
              <md-menu-item ng-if="userService.isloggedin()"><logout></logout></md-menu-item>
              <md-menu-item ng-hide="currentPath === '/manageStories'"><md-button ng-href="/manageStories" class="md-primary">MANAGE STORIES</md-button></md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>
    </div>
  </header>

  <body ng-cloak>
    <div class="ribbon"></div>
    <main class="main" style="padding-bottom: 10vh;">
      <div layout="column" flex-offset="{{mediaQuery('gt-sm') ? 25 : 5}}" flex="{{mediaQuery('gt-sm') ? 50 : 90}}" layout-align="start center" md-whiteframe="1" style="min-height: 500px; background-color: white; margin-top:5%;" ng-view></div>
    </main>
  </body>

  <footer>
    <md-bottom-sheet style="background-color: rgb(33,150,243); height: 0px; color: #fff;">
      <div layout="column" layout-align="center center">
        <div layout="row">
          <small>
            This site is not endorsed by or affiliated with Electronic Arts or its licensors. Trademarks are the property of their respective owners. Game content and materials copyright Electronic Arts Inc. and its licensors. All Rights Reserved.
          </small>
        </div>
        <div layout="row">
          <md-button ng-href="/contact">Contact Us</md-button>
          <md-button ng-href="/privacyPolicy">Privacy Policy</md-button>
          <md-button ng-href="/termsOfUse">Terms of Use</md-button>
          <md-button ng-href="/userSubmissionAgreement">User Submission Agreement</md-button>
        </div>
        <div layout="row">
          © 2016 - 2017 SimsReader
        </div>
      </div>
    </md-bottom-sheet>
  </footer>
</html>
